.news-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.news-box {
    background-color: black;
    width: 100%;
    box-shadow: 0px 1px 20px -8px #636463;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 40px;
    display: block;
}

.news-box-card{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 100%;
    box-shadow: #636463 0 1px 5px -8px;
    opacity: 1;
    padding-top: 50px;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 50px;
}

.tab-button-bar{
    margin-top: -45px;
    margin-right: -50px;
}

.tab-button {
    background-color: #F5F5F5;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-right: 1px solid;
    border-color: #E9EAEA;
    padding: 10px;
    border-radius: 0px !important;
    font-size: 16px;
}

.tab-button-first{
    border-left: 1px solid;
    border-color: #E9EAEA;
}

.tab-button.action{
    background-color: white;
    color: #CB0030;
}

.tab-button:active{
    background: #E9EAEA;
    background: -webkit-radial-gradient(#E9EAEA, #DDD 99%); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#E9EAEA, #DDD 99%); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#E9EAEA, #DDD 99%); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#E9EAEA, #DDD 99%); /* Standard syntax (must be last) */
}


.news-box-head{
    margin: 0px;
}

.news-box-head .label {
    font-size: 15px;
}

.news-box-head h2 {
    margin-top: 12px;
    margin-bottom: 0px;
}

.news-box-content{
    margin: 0px;
    font-size: 18px;
    min-height: 129.6px;
    /*overflow: hidden;
    max-width: 7ch;*/
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    /*max-height: 7.2em;*/
    line-height: 1.8em;
}

.news-box-date{
    margin: 0px;
    margin-bottom: 35px;
    font-size: 14px;
}

.created{
    margin-right: 20px;
}

.updated{
    margin-left: 20px;
}

.news-image{
    max-width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 991px){
    .news-container{
        max-width: 728px;
    }
    .news-box-card{
        margin-left: auto;
        margin-right: auto;
        max-width: 728px;
        height: 100%;
        opacity: 1;
    }
    .news-box{
        padding-top: 0px;
        height: 100%;
    }
    .news-image{
        height: 250px;
    }
}

@media (max-width: 767px){
    .news-container{
        padding-right: 20px;
        padding-left: 20px;
    }
    .news-image{
        height: 180px;
    }
}

/* ----------------------------------------------------------------------*/
/* Edit Box   ---------------------------------------------------------- */
/* ----------------------------------------------------------------------*/

.hide{
    display: none;
}

.news-box-head input{
    font-size: 30px;
    margin-top: 12px;
    margin-bottom: 0px;
}
.activity-name-input{
    width: 100%;
}
.activity-content-input{
    width: 100%;
}

.save-button-bar{
    margin-top: 20px;
    padding: 0px;
}

.cancel-button{
    right: 15px;
}

.browse-bar{
    background-color: #E9EAEA;
    margin-left: 15%;
    margin-right: 15%;

    padding-left: 60px;
    padding-right: 60px;
    box-shadow: 0px 7px 20px -8px #636463;

}

.browse-button{
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FFF;
}

.browse-save-button{
    height: 28.8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

@media (max-width: 512px){
    .cancel-button{
        right: 0px;
    }
}

/* ----------------------------------------------------------------------*/
/* Pagination Navigation   --------------------------------------------- */
/* ----------------------------------------------------------------------*/
.pagination-nav {
    width: 100%;
    display: block;
    position: relative;
    text-align: center;
}

.pagination-nav ul {
    margin: 0px;
    padding: 0px;
}

.pagination-nav ul li {
    display: inline-block;
    margin: 0px 2px;
}

.pagination-nav ul li a {
    display: block;
    background-color: #CCC;
    color: rgb(120,0,0);
    height: 36px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
}

.pagination-nav ul li.active a {
    background: #323232;
    color: #fff;
}